@page
@model InventurListe.Pages.Betriebssysteme.BetriebssystemeEditModel
@{
}



<br />
<h2 class="text-info">Betriebssysteme Bearbeiten</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Betriebssystem.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <!--RaumName-->
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Betriebssystem.Name">Name des Betriebssystems</label>
            </div>
            <div class="col-6">
                <input asp-for="Betriebssystem.Name" class="form-control" />
            </div>
            <span asp-validation-for="Betriebssystem.Name" class="text-danger"></span>
        </div>
        <!--Buttons-->
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Update" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="BetriebssystemeIndex" class="btn btn-success form-control">Zur Übersicht</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}