@page
@model InventurListe.Pages.BetriebssystemIndexModel
@{
}


<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Betriebssysteme Liste</h2>
    </div>
    <div class="col-3">
        <a asp-page="BetriebssystemeCreate" class="btn btn-info form-control text-white">Neuer Eintrag</a>
    </div>


    <diiv class="col-10 border p-3 mt-3">
        <form method="post">
            @if (Model.Betriebssystem.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Betriebssystem.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label>Buttons</label>
                        </th>
                    </tr>
                    @foreach (var item in Model.Betriebssystem)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-Id="@item.Id" onclick="return confirm('Soll der Eintrag wirklich gelöscht werden?')" class="btn btn-danger btn-sm">Löschen</button>
                                <a asp-page="BetriebssystemeEdit" asp-route-Id="@item.Id" class="btn btn-success btn-sm text-white">Ändern</a>
                            </td>
                        </tr>
                    }

                </table>
            }
            else
            {
                <p>Keine Geräte zum Anzeigen verfügbar</p>
            }
        </form>
    </diiv>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}